.c-box_payment {
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 50px
}

.c-box_payment .c-title_module {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333
}

.c-box_payment .c-box_info {
    padding-right: 0;
    padding-top: 15px
}

.c-box_payment .c-box_group {
    margin: 0px -15px 15px
}

.c-box_payment .c-group {
    padding: 0px 15px;
    margin-bottom: 20px
}

.c-box_payment .c-group label {
    margin-bottom: 10px;
    font-weight: normal;
    font-family: t-medium,sans-serif
}

.c-box_payment .c-group label span {
    color: #c73536
}

.c-box_payment .c-group ::placeholder {
    color: #999
}

.c-box_payment .c-group_bot {
    padding: 20px 0px 20px;
    margin-top: 10px;
    border-bottom: 1px solid #d6d6d6
}

.c-box_payment .c-group_bot .c-title_pay {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid #d6d6d6
}

.c-box_payment .form-control {
    height: 50px;
    font-size: 14px;
    border: 2px solid #ccc;
    background: none;
    border-radius: unset;
    padding: 5px 20px
}

.c-box_payment .form-control[disabled] {
    background: #fff
}

.c-box_payment .c-box_type--payment .c-title_payment {
    margin-bottom: 0
}

.c-box_payment .c-box_type--payment .checkbox {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100px;
    border-bottom: 1px dotted #aea98a
}

.c-box_payment .c-box_type--payment .checkbox:last-child {
    border-bottom: none
}

.c-box_payment .c-box_type--payment .checkbox .text {
    padding-left: 20px
}

.c-box_payment .c-box_type--payment .checkbox .text img {
    margin: 0 20px 0 0
}

.c-box_payment .c-box_type--payment input[type=radio] {
    position: absolute;
    visibility: hidden
}

.c-box_payment .c-box_type--payment label {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding-right: 45px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    opacity: .5
}

.c-box_payment .c-box_type--payment input[type=radio]+label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #212121;
    border-radius: 50%;
    position: absolute;
    left: 0
}

.c-box_payment .c-box_type--payment input[type=radio]:checked+label {
    opacity: 1;
    height: 10em
}

.c-box_payment .c-box_type--payment input[type=radio]:checked+label:after {
    content: "";
    width: 14px;
    height: 14px;
    background: #212121;
    border-radius: 50%;
    position: absolute;
    left: 3px
}

.c-box_payment .c-box_type--payment .title {
    display: block;
    color: #212121;
    text-transform: uppercase
}

.c-box_payment .c-box_type--payment .des {
    color: #777
}

.c-box_payment .c-box_ex_order .optcheck {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    padding-right: 45px;
    padding-bottom: 10px;
    margin: 10px 0px 20px
}

.c-box_payment .c-box_ex_order .form-group {
    margin-bottom: 20px
}

.c-box_payment .c-box_ex_order label {
    display: block;
    font-family: t-medium,sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer
}

.c-box_payment .c-box_ex_order input[type=checkbox] {
    position: absolute;
    visibility: hidden
}

.c-box_payment .c-box_ex_order input[type=checkbox]+label:before {
    content: "";
    width: 20px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border: 2px solid #ccc;
    position: absolute;
    right: 0
}

.c-box_payment .c-box_ex_order input[type=checkbox]:checked+label:before {
    content: "✓";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121;
    border-color: #212121
}

.c-box_payment .c-col-image a {
    max-width: 100px;
    display: block
}

.c-box_payment .c-box--info_cart {
    padding-left: 30px
}

.c-box_payment .c-box--info_cart .list_order {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D83564
}

.c-box_payment .c-box--info_cart .c-head {
    color: #777;
    font-family: t-medium,Arial
}

.c-box_payment .c-box--info_cart .item {
    display: flex;
    justify-content: space-between
}

.c-box_payment .c-box--info_cart .c-item_name {
    padding-right: 10px
}

.c-box_payment .c-box--info_cart .c-name {
    padding-right: 15px
}

.c-box_payment .c-box--info_cart .c-price {
    font-family: t-medium,Arial;
    text-align: right
}

.c-box_payment .c-box--info_cart .c-price del {
    font-weight: normal;
    color: #ccc;
    font-size: 13px;
    font-family: unset
}

.c-box_payment .c-box_total--cart {
    border-radius: 4px;
    background: #fff;
    border: 1px solid #D83564;
    padding: 20px
}

.c-box_payment .c-box_total--cart .c-title_module {
    font-family: t-black,Arial;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #D83564;
    padding-bottom: 10px
}

.c-box_payment .c-box_total--cart .order-value {
    font-family: t-black,Arial
}

.c-box_payment .c-list_fee {
    padding: 10px 0;
    margin-bottom: 22px;
    border-bottom: 1px solid #ccc
}

.c-box_payment .c-list_fee p {
    display: flex;
    justify-content: space-between
}

.c-box_payment .c-total_order {
    margin-bottom: 20px
}

.c-box_payment .c-total_order .order-value {
    font-size: 18px
}

.c-box_payment .c-btn {
    display: block;
    text-align: center;
    -webkit-transition: ease-in-out 400ms;
    -moz-transition: ease-in-out 400ms;
    -ms-transition: ease-in-out 400ms;
    -o-transition: ease-in-out 400ms;
    transition: ease-in-out 400ms
}

.c-box_payment .c-btn:hover {
    font-family: t-medium,Arial;
    text-decoration: none
}

.c-box_payment .c-redirect {
    color: #fff;
    text-transform: uppercase;
    padding: 10px 35px;
    background: #D83564;
    margin-bottom: 20px;
    border:1px solid #D83564;
}

.c-box_payment .c-redirect:hover {
    background: #fff;
    color:#D83564;
}

.c-box_payment .c-shopping {
    padding-bottom: 20px;
    border-bottom: 1px solid #D83564
}

.c-box_payment .guide-bottom {
    padding-top: 20px
}

.c-box_payment .guide-bottom a,.c-box_payment .guide-bottom p {
    line-height: 26px;
    color: #212121;
    display: flex;
    align-items: center
}

.c-box_payment .guide-bottom a span,.c-box_payment .guide-bottom p span {
    width: 26px
}

.c-box_payment .guide-bottom a span img,.c-box_payment .guide-bottom p span img {
    margin: 0
}

.c-box_payment .c-note_bot {
    margin-top: 40px;
    text-align: center
}

.c-box_payment .c-note_bot a {
    color: #c73536
}

@media(max-width: 1024px) {
    .c-box_root .c-box_payment {
        margin:0 5px 50px
    }

    .c-box_payment .c-title_module {
        padding-bottom: 10px
    }

    .c-box_payment .c-group {
        margin-bottom: 15px
    }

    .c-box_payment .c-col-name {
        padding-left: 0;
        font-size: 12px
    }

    .c-box_payment .c-name {
        font-size: 14px;
        margin-bottom: 15px
    }

    .c-box_payment .c-price {
        font-size: 12px
    }

    .c-box_payment .c-label {
        min-width: 70px
    }

    .c-box_payment .custom-quantity-input span {
        width: 25px;
        font-size: 13px
    }
}

@media(max-width: 960px) {
    .c-row_wrapper {
        margin:0 !important
    }

    .c-box_payment .c-box_info {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0
    }

    .c-box_payment .c-box--info_cart {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0
    }

    .c-box_root .c-box_payment {
        margin: 0
    }

    .c-box_payment .c-box_type--payment .checkbox {
        height: auto;
        min-height: 100px;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .c-box_payment .c-title_module {
        margin-bottom: 0
    }
}

/*# sourceMappingURL=payment.css.map */
